body::before {
    display: block;
    content: '';
    height: 60px;
  }
  
.img-d {
    width: 550px;
    height: 350px;
}

@media (min-width: 450px){
  .container {
    width: 100%;
  }
  .col-md {
    width: 100%;
  }
  .img-d {
    width: 100%;
  }
  .lead {
    width: 100%;
  }
}



  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }